<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Run Streak</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <pre>
,---,---,---,---,---,---,---,---,---,---,---,---,---,-------,
| ~ | r | u | n | n | i | n | g |   |   |   |   |   | <-    |
|---'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-----|
| ->|   |   |   |   |   |   |   |   |   |   |   |   |  \  |
|-----',--',--',--',--',--',--',--',--',--',--',--',--'-----|
| Caps |   |   | {{.D1}} | {{.D2}} | {{.D3}} | {{.D4}} |   | k | m |   |  Enter     |
|------'-,-'-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,--------|
|        |   |   |   |   |   |   |   |   |   |   |          |
|------,-',--'--,'---'---'---'---'---'---'---'--,'--,------|
| ctrl |  | <a href="index.html">days</a> |   streak                | alt  |  | ctrl |
'------'  '-----'--------------------------'------'  '------'

</pre>
    </body>
</html>
