<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Run Streak</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <pre>
,---,---,---,---,---,---,---,---,---,---,---,---,---,-------,
| ~ | e | v | e | r | y |   | d | a | y |   |   |   | &lt;- |
|---'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-----|
| ->|   |   |   |   |   |   |   |   |   |   |   |   |  \  |
|-----',--',--',--',--',--',--',--',--',--',--',--',--'-----|
| Caps |   | a | t |  | l | e | a | s | t |   |    |  Enter |
|------'-,-'-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,-'-,--------|
|        |   |   |   |   |   |   |   |   |   |   |          |
|------,-',--'--,'---'---'---'---'---'---'---'--,'--,------|
| ctrl |  | <a href="index.html">days</a>|    a   mile              | alt  |  | ctrl |
'------'  '-----'--------------------------'------'  '------'

</pre>
    </body>
</html>
